{% extends 'base.html' %}
{% load static humanize custom_filters  %}
{% block title %}Kwikmart • Cart{% endblock title %}
{% block main %}
{% include 'components/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart-main">
    <div class="cart-section">
        <div class="cart-head">
            <h1 style="font-size:1.9rem;font-weight:bold;">Cart</h1>
            <a href="{% url 'shop:shop' %}">
                <span>Continue to shopping</span>
            </a>
        </div>
        <div class="line"></div>
        {% if cart_items %}
            <table class="cart-items">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Unit MRP</th>
                        <th>Quantity</th>
                        <th>Total MRP</th>
                        <th>Discount</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart_items %}
                    <tr class="product">
                        <td>
                            <a href="{% url 'shop:product-detail' product_id=product.product_id %}">
                                <img src="{{product.image}}" alt="">
                            </a>
                        </td>
                        <td>
                        <div class="details">
                                <a href="{% url 'shop:product-detail' product_id=product.product_id %}">{{product.product_name}}</a>
                            </div>
                        </td>
                        <td>
                            ₹<span class="product-price" id="mrp-{{product.product_id}}" data-product-price='{{product.original_price}}'>{{product.original_price|intcomma}}</span>
                        </td>
                        <td>
                            <div class="quantity">
                                <span class="minus" onclick="removeQuantity({{product.product_id}})">-</span>
                                <b id="quantity-{{product.product_id}}">{{product.quantity}}</b>
                                <span onclick="addQuantity('{{product.product_id}}')">+</span>
                            </div>
                        </td>
                        <td>
                            ₹<span class="discount" id="discount-{{product.product_id}}" data-product-price='{{product.discount}}'>{{product.total_mrp}}</span>
                        </td>
                        <td>
                            <span class="discount" id="discount-{{product.product_id}}" data-product-price='{{product.discount}}'>{{product.discount}}%</span>
                        </td>
                        <td>
                            ₹<span class="product-price" id="price-{{product.product_id}}" data-product-price='{{product.offer_price}}'>{{product.sub_total|intcomma}}</span>
                        </td>
                        <td class="delete">
                            <img onclick="deleteItemFromCart({{product.id}})" src="{% static 'images/trash.png' %}" alt="">
                        </td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        {% else %}
            <h2 style="text-align:center;">No items in cart.</h2>
        {% endif %}
    </div>
    <div class="checkout">
        <h1>Checkout</h1>
        <div class="line"></div>
        <br>
        <div class="charges">
            <span>Sub Total ({{total_items}} items) :</span>
            <span class="price">₹{{total_price|intcomma}}</span>
        </div>
        <div class="charges">
            <span>Delivery charges :</span>
            <span class="price">+ ₹40</span>
        </div>
        <div class="charges">
            <span>Discount :</span>
            <span class="price">- ₹{{total_discount_price}} ({{total_discount}}%)</span>
        </div>
        <div class="sub-total">
            <span style="font-size:1.5rem;">Total :</span>
            <span id="total_price">₹{{total_offer_price|intcomma}}</span>
        </div>
        <a href="{% url 'shop:checkout' %}">
            <button>Proceed to Checkout</button>
        </a>
    </div>
</div>
{% endblock main %}
{% block script %}
<script>
    function addQuantity(product_id){
        var quantity = parseInt($('#quantity-'+product_id).text());
        {% comment %} $('#quantity-'+product_id).text(quantity+1);
        var price = parseInt($('#price-'+product_id).data('product-price'));
        $('#price-'+product_id).text('₹'+price*(quantity+1)+'.00'); {% endcomment %}
        handleAddToCart(product_id);
        location.reload();
    }
    function removeQuantity(product_id){
        var quantity = parseInt($('#quantity-'+product_id).text());
        var price = parseInt($('#price-'+product_id).data('product-price'));
        if(quantity>1){
            {% comment %} $('#quantity-'+product_id).text(quantity-1);
            $('#price-'+product_id).text('₹'+price*(quantity-1)+'.00'); {% endcomment %}
            decreaseItemFromCart(product_id);
            location.reload();
        }

    }
</script>
{% endblock script %}