{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}
{% block title %}Kwikmart Online Shopping{% endblock title %}
{% block main %}
    <div class="main">
        <div class="carousel">
            {% for item in carousel %}
                <div class="carousel-item">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                </div>
            {% endfor %}
            <div class="nav-buttons">
                <div class="prev">
                    <img src="{% static 'images/left.png' %}" alt="">
                </div>
                <div class="next">
                    <img src="{% static 'images/right.png' %}" alt="">
                </div>
                <div class="slider">
                    {% for item in carousel %}
                        <span class="nav-dot"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="offers">
            <div class="offer">
                <span class="offer-title">Appliances for your home | Up to 55% off</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/ac.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Air conditioners</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/fridge.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Refrigerators</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/oven.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Microwaves</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/wm.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Washing machines</span>
                    </div>
                </div>
                <a>See all offers</a>
            </div>
            <div class="offer">
                <span class="offer-title">Up to 60% off | Styles for men</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/cloth.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Clothing</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/shoe.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Footwears</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/watch.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Watches</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/bag.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Bags & Wallets</span>
                    </div>
                </div>
                <a>End of season sale</a>
            </div>
            <div class="offer">
                <span class="offer-title">Revamp your home in style</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/mat.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Mat, bedsheets & more</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/figure.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Figurines, vases & more</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/storage.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Home storage</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/light.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Lighting solutions</span>
                    </div>
                </div>
                <a>Explore all</a>
            </div>
            <div class="offer">
                <span class="offer-title">Own your Iphone now | Exciting offers.</span>
                <img src="{% static 'images/offers/iphone.jpg' %}" alt="">
            </div>
            <div class="offer">
                <span class="offer-title">Up to 75% off | Headphones</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/boat.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Up to 75% off | boAt</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/boult.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Up to 75% off | Boult</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/noise.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Up to 75% off | Noise</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/zebro.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Up to 75% off | Zebronics</span>
                    </div>
                </div>
                <a>See all offers</a>
            </div>
            <div class="offer">
                <span class="offer-title">Starting ₹99 | All your home improvement needs</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/floorcleaner.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Spin mops, wipes & more</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/towel.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Bathroom accessories</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/hammer.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Hammers, screwdrivers & more</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/extension.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Extension boards, plugs</span>
                    </div>
                </div>
                <a>Explore all</a>
            </div>
            <div class="offer">
                <span class="offer-title">Up to 60% off | Styles for women</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/womencloth.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Women's clothing</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/womenbag.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Footwears & Bags</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/womenwatch.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Watches</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/necklase.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Fashion jwellery</span>
                    </div>
                </div>
                <a>End of season sale</a>
            </div>
            <div class="offer">
                <span class="offer-title">Min. 40% off | Baby care & toys | Amazon Brands & more</span>
                <div class="offer-items">
                    <div class="offer-item">
                        <img src="{% static 'images/offers/pampers.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Baby essentials</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/toy.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Play gyms & more</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/penguin.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Soft toys</span>
                    </div>
                    <div class="offer-item">
                        <img src="{% static 'images/offers/unicorn.jpg' %}" alt="">
                        <span style="font-size:.8rem;">Outdoor games</span>
                    </div>
                </div>
                <a>See all deals</a>
            </div>
        </div>
        <div class="best-deal">
            {% if best_deal %}
            <a href="{% url 'shop:product-detail' product_id=best_deal.id %}" class="product">
                <img id="best-buy" src="{% static 'images/best-buy.png' %}" alt="">
                <div id="best-seller">
                    <span>Best deal</span>
                    <img src="{% static 'images/best-seller.png' %}" alt="">
                </div>
                <img src="{{best_deal.image.url}}" alt="">
                <div class="details">
                    <span>{{best_deal.name}}</span>
                    <div class="review">
                        {% for i in best_deal.rating|custom_range %}
                            <img src='{% static "images/star.png" %}' alt="">
                        {% endfor %}
                        {% for j in 5|subtract:best_deal.rating|custom_range %}
                            <img src='{% static "images/starline.png" %}' alt="">
                        {% endfor %}
                    </div>
                    <span>₹<span class="mrp">{{ best_deal.original_price|intcomma  }}</span></span>
                    <span class="price">₹{{ best_deal.offer_price|intcomma  }}<span class="discount">-{{best_deal.discount}}%</span></span>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="deals">
            <div class="title">
                <h1>Today's deals</h1>
                <a href="{% url 'shop:shop' %}">See all deals</a>
            </div>
            <div class="line"></div>
            <div class="products">
                {% for product in best_deals %}
                    <div class="product" title="{{product.name}}">
                        <img id="productImage" src="{{ product.image.url }}" alt="">
                        <img class="offer" src="{% static 'images/offer.png' %}" alt="">
                        {% if is_new %}
                            <img class="new" src="{% static 'images/new.png' %}" alt="">
                        {% endif %}
                        <div class="product-details">
                            <span>{{ product.name|truncatechars:18}}</span>
                            <div class="review">
                                {% for i in product.rating|custom_range %}
                                    <img src='{% static "images/star.png" %}' alt="">
                                {% endfor %}
                                {% for j in 5|subtract:product.rating|custom_range %}
                                    <img src='{% static "images/starline.png" %}' alt="">
                                {% endfor %}
                            </div>
                            <span>₹<span class="mrp">{{ product.original_price|intcomma  }}</span></span>
                            <span class="price">₹{{ product.offer_price|intcomma  }}<span class="discount">-{{product.discount}}%</span></span>
                        </div>
                        <div class="actions">
                            <img class="add-to-wishlist" id={{product.id}} onclick="handleAddToWishlist({{product.id}})" src="{% static 'images/heart.png' %}" alt="" title="Add to wishlist">
                            <img src="{% static 'images/cart.png' %}" onclick="handleAddToCart({{product.id}})" alt="" title="Add to cart">
                            <a href="{% url 'shop:product-detail' product_id=product.id %}">
                                <img src="{% static 'images/view.png' %}" alt="" title="View product">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="prev-prod">
                    <img src="{% static 'images/left.png' %}" alt="">
                </div>
                <div class="next-prod">
                    <img src="{% static 'images/right.png' %}" alt="">
                </div>
            </div>
        </div>

        <div class="deals">
            <div class="title">
                <h1>New arrivals</h1>
                <a href="{% url 'shop:shop' %}">See all deals</a>
            </div>
            <div class="line"></div>
            <div class="products">
                {% for product in new_products %}
                <div class="product" title="{{product.name}}">
                        <img id="productImage" src="{{ product.image.url }}" alt="">
                        <img class="offer" src="{% static 'images/offer.png' %}" alt="">
                        <img class="new" src="{% static 'images/new.png' %}" alt="">
                        <div class="product-details">
                            <span>{{ product.name|truncatechars:18}}</span>
                            <div class="review">
                                {% for i in product.rating|custom_range %}
                                    <img src='{% static "images/star.png" %}' alt="">
                                {% endfor %}
                                {% for j in 5|subtract:product.rating|custom_range %}
                                    <img src='{% static "images/starline.png" %}' alt="">
                                {% endfor %}
                            </div>
                            <span>₹<span class="mrp">{{ product.original_price|intcomma  }}</span></span>
                            <span class="price">₹{{ product.offer_price|intcomma  }}<span class="discount">-{{product.discount}}%</span></span>
                        </div>
                        <div class="actions">
                            <img class="add-to-wishlist" id={{product.id}} onclick="handleAddToWishlist({{product.id}})" src="{% static 'images/heart.png' %}" alt="" title="Add to wishlist">
                            <img src="{% static 'images/cart.png' %}" onclick="handleAddToCart({{product.id}})" alt="" title="Add to cart">
                            <a href="{% url 'shop:product-detail' product_id=product.id %}">
                                <img src="{% static 'images/view.png' %}" alt="" title="View product">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="prev-prod">
                    <img src="{% static 'images/left.png' %}" alt="">
                </div>
                <div class="next-prod">
                    <img src="{% static 'images/right.png' %}" alt="">
                </div>
            </div>
        </div>
        
        {% if request.user.is_authenticated %}
            <div class="deals">
                <div class="title">
                    <h1>Recommended items</h1>
                    <a href="{% url 'shop:shop' %}">See all deals</a>
                </div>
                <div class="line"></div>
                <div class="products">
                    {% for product in products %}
                        {% if product.recommended %}    
                            <div class="product" title="{{product.name}}">
                                <img id="productImage" src="{{ product.image.url }}" alt="">
                                <img class="offer" src="{% static 'images/offer.png' %}" alt="">
                                {% if is_new %}
                                    <img class="new" src="{% static 'images/new.png' %}" alt="">
                                {% endif %}
                                <div class="product-details">
                                    <span>{{ product.name|truncatechars:18}}</span>
                                    <div class="review">
                                        {% for i in product.rating|custom_range %}
                                            <img src='{% static "images/star.png" %}' alt="">
                                        {% endfor %}
                                        {% for j in 5|subtract:product.rating|custom_range %}
                                            <img src='{% static "images/starline.png" %}' alt="">
                                        {% endfor %}
                                    </div>
                                    <span>₹<span class="mrp">{{ product.original_price|intcomma  }}</span></span>
                                    <span class="price">₹{{ product.offer_price|intcomma  }}<span class="discount">-{{product.discount}}%</span></span>
                                </div>
                                <div class="actions">
                                    <img class="add-to-wishlist" id={{product.id}} onclick="handleAddToWishlist({{product.id}})" src="{% static 'images/heart.png' %}" alt="" title="Add to wishlist">
                                    <img src="{% static 'images/cart.png' %}" onclick="handleAddToCart({{product.id}})" alt="" title="Add to cart">
                                    <a href="{% url 'shop:product-detail' product_id=product.id %}">
                                        <img src="{% static 'images/view.png' %}" alt="" title="View product">
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="prev-prod">
                        <img src="{% static 'images/left.png' %}" alt="">
                    </div>
                    <div class="next-prod">
                        <img src="{% static 'images/right.png' %}" alt="">
                    </div>
                </div>
            </div>    
        {% endif %}
            
    </div>
{% endblock main %}