{% extends 'base.html' %}
{% load static humanize %}

{% block title %}{{product.name}}{% endblock title %}

{% block main %}
    {% include 'components/navbar.html' %}
    <link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
    <div class="product-detail">
        <div class="product">
            <div class="image">
                <img id="productImage" src="{{ product.image.url }}" alt="">
            </div>
            <div class="details">
                <div style="display:flex;flex-direction:column;">
                    <span><b>Category:</b> <a href="">{{product.category}}</a></span>
                    <span style="font-weight:bold;font-size:1.9rem;">{{product.name}}</span>
                    <a href="/" class="review">
                        {% if product.stars == 5 %}
                            {% for star in "12345"  %}
                                <img src="{% static 'images/star.png' %}" alt="">
                            {% endfor %}
                        {% elif product.stars == 4 %}
                            {% for star in "1234"  %}
                                <img src="{% static 'images/star.png' %}" alt="">
                            {% endfor %}
                            {% for star in "1"  %}
                                <img src="{% static 'images/starline.png' %}" alt="">
                            {% endfor %}
                        {% elif product.stars == 3 %}
                            {% for star in "123"  %}
                                <img src="{% static 'images/star.png' %}" alt="">
                            {% endfor %}
                            {% for star in "12"  %}
                                <img src="{% static 'images/starline.png' %}" alt="">
                            {% endfor %}
                        {% elif product.stars == 2 %}
                            {% for star in "12"  %}
                                <img src="{% static 'images/star.png' %}" alt="">
                            {% endfor %}
                            {% for star in "123"  %}
                                <img src="{% static 'images/starline.png' %}" alt="">
                            {% endfor %}
                        {% elif product.stars == 1 %}
                            {% for star in "1"  %}
                                <img src="{% static 'images/star.png' %}" alt="">
                            {% endfor %}
                            {% for star in "1234"  %}
                                <img src="{% static 'images/starline.png' %}" alt="">
                            {% endfor %}
                        {% else %}
                            {% for star in "12345"  %}
                                <img src="{% static 'images/starline.png' %}" alt="">
                            {% endfor %}
                        {% endif %}
                        <span style="margin-left:.5rem;">5 reviews</span>
                    </a>
                </div>
                <span>M.R.P : ₹<span class="mrp">{{product.original_price|intcomma}}</span></span>
                <span class="price">₹<span class="offer-price">{{product.offer_price|intcomma}}</span><span class="discount">-{{product.discount}}%</span></span>
                <div class="action-buttons">
                    <span class="add-to-cart" onclick="handleAddToCart('{{product.id}}')" data-product-id="{{product.id}}">
                        <img src="{% static 'images/cart.png' %}" alt="">
                        <span>Add To Cart</span>
                    </span>
                    <span class="like" onclick="handleAddToWishlist('{{product.id}}')">
                        <img src="{% static 'images/heart.png' %}">
                    </span>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="title">
                <span id="description-button">Product Description</span>
                <span id="review-button">User Reviews</span>
            </div>
            <div class="line"></div>
            <span id="description">{{product.description|linebreaks}}</span>
            <div id="review">
                
            </div>
        </div>
    </div>
{% endblock main %} 
{% block script %}
<script>
    $('#description-button').click(function(){
        $('#description').show();
        $('#review').hide();
    })
    $('#review-button').click(function(){
        $('#review').show();
        $('#description').hide();
    })
</script>
{% endblock script %}