{% extends 'base.html' %}
{% load static humanize %}
{% load custom_filters %}

{% block title %}{{product.name}}{% endblock title %}

{% block main %}
    {% include 'components/navbar.html' %}
    <link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
    <div class="product-detail">
        <div class="product">
            <div class="image">
                <img id="productImage" src="{{ product.image.url }}" alt="">
            </div>
            <div class="details">
                <div style="display:flex;flex-direction:column;">
                    <span><b>Category:</b> <span>{{product.category}}</span></span>
                    <span style="font-weight:bold;font-size:1.9rem;">{{product.name}}</span>
                    <span class="review">
                        <div id="productDetailReview">
                            {% for i in product.rating|custom_range %}
                                <img src='{% static "images/star.png" %}' alt="">
                            {% endfor %}
                            {% for j in 5|subtract:product.rating|custom_range %}
                                <img src='{% static "images/starline.png" %}' alt="">
                            {% endfor %}
                        </div>
                        <span id="reviewsCount" style="margin-left:.5rem;">{{reviews|length}} Reviews</span>
                    </span>
                </div>
                <span>M.R.P : ₹<span class="mrp">{{product.original_price|intcomma}}</span></span>
                <span class="price">₹<span class="offer-price">{{product.offer_price|intcomma}}</span><span class="discount">-{{product.discount}}%</span></span>
                <div class="action-buttons">
                    <span class="add-to-cart" onclick="handleAddToCart('{{product.id}}')" data-product-id="{{product.id}}">
                        <img src="{% static 'images/cart.png' %}" alt="">
                        <span>Add To Cart</span>
                    </span>
                    <span class="like" onclick="handleAddToWishlist('{{product.id}}')">
                        <img src="{% static 'images/heart.png' %}">
                    </span>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="title">
                <input type="radio" name="description" id="description-button" value="description">
                <label for="description-button">Product Description</label>
                <input type="radio" name="review" id="review-button" value="review">
                <label for="review-button">User Reviews (<span id="reviews_count">{{reviews|length}}</span>)</label>
            </div>
            <div class="line"></div>
            <span id="description">{{product.description|safe}}</span>
            <div id="reviews">
                {% for review in reviews %}
                    <div class="review">
                        <div class="user-section">
                            <img src="{% static 'images/people.png' %}" alt="">
                            <div class="user-details">
                                <span class="user-name">{{review.user.username|title}}</span>
                            </div>
                        </div>
                        <div class="review-section">
                            <div class="rating">
                                {% for i in review.rating|custom_range %}
                                    <img src='{% static "images/star.png" %}' alt="">
                                {% endfor %}
                                {% for j in 5|subtract:review.rating|custom_range %}
                                    <img src='{% static "images/starline.png" %}' alt="">
                                {% endfor %}
                            </div>
                            {% if review.comment %}
                                <span class="comment">{{review.comment}}</span>
                            {% endif %}
                            <div class="triangle"></div>
                        </div>
                    </div>
                {% endfor %}
                {% if not reviews %}
                    <h2>No Reviews</h2>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div class="write-comment">
                        <div class="comment">
                            <div class="rating">
                                <span>Your rating :</span>
                                {% for star in "12345"  %}
                                    <input type="radio" name="rating" id="rating-{{forloop.counter}}" value="{{forloop.counter}}">
                                    <label for="rating-{{forloop.counter}}" class="star-label">
                                        <img class="star" id="star-{{star}}" src="{% static 'images/starline.png' %}" alt="">
                                    </label>
                                {% endfor %}
                            </div>
                            <input id="written-comment" data-product-id="{{product.id}}" type="text" placeholder="Add a review" name="comment" value="">
                            <img id="submit-review" src="{% static 'images/send.png' %}" alt="" onclick="submitReview('{{product.id}}')">
                            <button type="submit" style="display:none;">sent</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="line"></div>
        </div>
    </div>
{% endblock main %} 
{% block script %}
<script>
    
</script>
{% endblock script %}