{% extends 'base.html' %}
{% load static humanize %}
{% block title %}Kwikmart • Shop{% endblock title %}
{% block main %}
    {% include 'components/navbar.html' %}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
    <div class="shop">
        <div class="filters">
            <span class="title">Filters</span>
            <div class="line"></div>
            <div class="categories">
                {% for category in categories %}
                    <div class="category">
                        <label class="radio-button-label">
                            <input type="checkbox" name="category" class="category-check" value="{{forloop.counter}}">
                        </label>
                        <span>{{category.name}}</span>
                    </div>
                {% endfor %} 
            </div>
            <div class="categories">
                {% for category in categories %}
                    <div class="category">
                        <label class="radio-button-label">
                            <input type="checkbox" name="category" class="category-check" value="{{forloop.counter}}">
                        </label>
                        <span>{{category.name}}</span>
                    </div>
                {% endfor %} 
            </div>
            <div class="categories">
                {% for category in categories %}
                    <div class="category">
                        <label class="radio-button-label">
                            <input type="checkbox" name="category" class="category-check" value="{{forloop.counter}}">
                        </label>
                        <span>{{category.name}}</span>
                    </div>
                {% endfor %} 
            </div>
            <div class="categories">
                {% for category in categories %}
                    <div class="category">
                        <label class="radio-button-label">
                            <input type="checkbox" name="category" class="category-check" value="{{forloop.counter}}">
                        </label>
                        <span>{{category.name}}</span>
                    </div>
                {% endfor %} 
            </div>
        </div>
        <div class="product-section">
            <span class="title">Products</span>
            <div class="line"></div>
            <div class="products">
                {% for product in products %}
                <div class="product" title="{{product.name}}">
                    <img id="productImage" src="{{ product.image.url }}" alt="">
                    <div class="product-details">
                        <span>{{ product.name|truncatechars:15}}</span>
                        <div class="review">
                            {% if product.stars == 5 %}
                                {% for star in "12345"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 4 %}
                                {% for star in "1234"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "1"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 3 %}
                                {% for star in "123"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "12"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 2 %}
                                {% for star in "12"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "123"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 1 %}
                                {% for star in "1"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "1234"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% else %}
                                {% for star in "12345"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span class="price">₹{{ product.price|intcomma  }}</span>
                    </div>
                    <div class="actions">
                        <img class="add-to-wishlist" id={{product.id}} onclick="handleAddToWishlist({{product.id}})" src="{% static 'images/heart.png' %}" alt="" title="Add to wishlist">
                        <img src="{% static 'images/cart.png' %}" onclick="handleAddToCart({{product.id}})" alt="" title="Add to cart">
                        <a href="{% url 'shop:product-detail' product_id=product.id %}">
                            <img src="{% static 'images/view.png' %}" alt="" title="View product">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
{% block script %}
<script>
    const checkBoxes = document.querySelectorAll('.category-check');
    
    checkBoxes.forEach(checkbox => {
        checkbox.addEventListener('change', toggleCheck);
    });
    
    function toggleCheck(event) {
        const checkbox = event.target;
        const label = checkbox.parentNode;

        if (checkbox.checked) {
            label.style.backgroundImage = 'url("/static/images/checkbox.png")';
        } else {
            label.style.backgroundImage = 'url("/static/images/unchecked.png")';
        }
    }
    
</script>
{% endblock script %}