{% extends 'base.html' %}
{% load static humanize custom_filters%}
{% block title %}Kwikmart • Shop{% endblock title %}
{% block main %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <div class="shop">
        <div class="filters">
            <div class="close-filter-popup">
                <img src="{% static 'images/x.png' %}" alt="">
            </div>
            <h1>Filters</h1>
            <div class="line"></div>
            <div class="categories">
                <span class="title">Categories 
                    <img class="down" src="{% static 'images/chevron.png' %}" alt="">
                    <img class="clear" onclick="clearProductFilters('categories')" src="{% static 'images/x.png' %}" alt="">
                </span>
                {% for category in categories %}
                    <div class="category">
                        
                        {% if category in filter_categories %}
                            <input type="checkbox" id="category-{{forloop.counter}}" name="category" class="category-check" value="{{category.id}}" checked>
                        {% else %}   
                            <input type="checkbox" id="category-{{forloop.counter}}" name="category" class="category-check" value="{{category.id}}">
                        {% endif %}
                            
                        <i class="checkbox checkbox-unchecked"></i>
                        <i class="checkbox checkbox-checked"></i>
                        <label for="category-{{forloop.counter}}" class="radio-button-label">
                            <span>{{category.name}}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="categories">

                <span class="title">Price Range
                    <img class="down" src="{% static 'images/chevron.png' %}" alt="">
                    <img class="clear" onclick="clearProductFilters('prices')" src="{% static 'images/x.png' %}" alt="">
                </span>
                <div class="category">
                    <input type="checkbox" id="price-1" name="price-range" class="category-check" value="1">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-1" class="radio-button-label">
                        Below ₹1,000
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-2" name="price-range" class="category-check" value="2">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-2" class="radio-button-label">
                        <span>₹1,000 - ₹5,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-3" name="price-range" class="category-check" value="3">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-3" class="radio-button-label">
                        <span>₹5,000 - ₹10,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-4" name="price-range" class="category-check" value="4">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-4" class="radio-button-label">
                        <span>₹10,000 - ₹20,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-5" name="price-range" class="category-check" value="5">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-5" class="radio-button-label">
                        <span>₹20,000 - ₹30,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-6" name="price-range" class="category-check" value="6">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-6" class="radio-button-label">
                        <span>₹30,000 - ₹40,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-7" name="price-range" class="category-check" value="7">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-7" class="radio-button-label">
                        <span>₹40,000 - ₹50,000</span>
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="price-8" name="price-range" class="category-check" value="8">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="price-8" class="radio-button-label">
                        <span>Above ₹50,000</span>
                    </label>
                </div>
            </div>
            <div class="categories">
                <span class="title">Brand
                    <img class="down" src="{% static 'images/chevron.png' %}" alt="">
                    <img class="clear" onclick="clearProductFilters('brands')" src="{% static 'images/x.png' %}" alt="">
                </span>
                {% for brand in brands %}
                    <div class="category">
                        <input type="checkbox" id="brand-{{forloop.counter}}" name="brand" class="category-check" value="{{forloop.counter}}">
                        <i class="checkbox checkbox-unchecked"></i>
                        <i class="checkbox checkbox-checked"></i>
                        <label for="brand-{{forloop.counter}}" class="radio-button-labels">
                            {{brand.name}}
                        </label>
                    </div>
                {% endfor %} 
            </div>
            <div class="categories">
                <span class="title">Rating & Reviews
                    <img class="down" src="{% static 'images/chevron.png' %}" alt="">
                    <img class="clear" onclick="clearProductFilters('ratings')" src="{% static 'images/x.png' %}" alt="">
                </span>
                <div class="category">
                    <input type="checkbox" id="rating-1" name="rating" class="category-check" value="5">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="rating-1" class="radio-button-label">
                        5 Stars
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="rating-2" name="rating" class="category-check" value="4">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="rating-2" class="radio-button-label">
                        4 Stars
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="rating-3" name="rating" class="category-check" value="3">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="rating-3" class="radio-button-label">
                        3 Stars
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="rating-4" name="rating" class="category-check" value="2">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="rating-4" class="radio-button-label">
                        2 Stars
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="rating-5" name="rating" class="category-check" value="1">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="rating-5" class="radio-button-label">
                        1 Star
                    </label>
                </div>
            </div>
            <div class="categories">
                <span class="title">Offers
                    <img class="down" src="{% static 'images/chevron.png' %}" alt="">
                    <img class="clear" onclick="clearProductFilters('offers')" src="{% static 'images/x.png' %}" alt="">
                </span>
                <div class="category">
                    <input type="checkbox" id="offer-1" name="offer" class="category-check" value="50">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="offer-1" class="radio-button-label">
                        50 % Offer
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="offer-2" name="offer" class="category-check" value="40">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="offer-2" class="radio-button-label">
                        40 % Offer
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="offer-3" name="offer" class="category-check" value="30">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="offer-3" class="radio-button-label">
                        30 % Offer
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="offer-4" name="offer" class="category-check" value="20">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="offer-4" class="radio-button-label">
                        20 % Offer
                    </label>
                </div>
                <div class="category">
                    <input type="checkbox" id="offer-5" name="offer" class="category-check" value="10">
                    <i class="checkbox checkbox-unchecked"></i>
                    <i class="checkbox checkbox-checked"></i>
                    <label for="offer-5" class="radio-button-label">
                        10 % Offer
                    </label>
                </div>
            </div>
        </div>
        <div class="product-section">
            <div class="shop-filter">
                <span>Filters</span>
                <img src="{% static 'images/filter.png' %}" alt="">
            </div>
            <h1>Products</h1>
            <div class="line"></div>
            <div class="products" id="shop-products">
                {% for product in products %}
                <div class="product" title="{{product.name}}">
                    <img id="productImage" src="{{ product.image.url }}" alt="">

                    {% if product.discount > 0 %}                    
                        <img class="offer" src="{% static 'images/offer.png' %}" alt="">
                    {% endif %}
                        
                    <div class="product-details">
                        <span class="product-name">{{ product.name|truncatechars:40}}</span>
                        <div class="review">
                            {% for i in product.rating|custom_range %}
                                <img src='{% static "images/star.png" %}' alt="">
                            {% endfor %}
                            {% for j in 5|subtract:product.rating|custom_range %}
                                <img src='{% static "images/starline.png" %}' alt="">
                            {% endfor %}
                        </div>
                        <span>₹<span class="mrp">{{ product.original_price|intcomma  }}</span></span>
                        <span class="price">₹{{ product.offer_price|intcomma  }}<span class="discount">-{{product.discount}}%</span></span>
                    </div>
                    <div class="actions">
                        <img class="add-to-wishlist" id={{product.id}} onclick="handleAddToWishlist({{product.id}})" src="{% static 'images/heart.png' %}" alt="" title="Add to wishlist">
                        <img src="{% static 'images/cart.png' %}" id={{product.id}} onclick="handleAddToCart({{product.id}})" alt="" title="Add to cart">
                        <a href="{% url 'shop:product-detail' product_id=product.id %}">
                            <img src="{% static 'images/view.png' %}" alt="" title="View product">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}