{% extends 'base.html' %}

{% block title %}Kwikmart • Wishlist{% endblock title %}

{% load static custom_filters humanize %}

{% block main %}
{% include 'components/navbar.html' %}
<link rel="stylesheet" href="{% static 'shop/css/wishlist.css' %}">
<div class="wishlist-section">
    <h1>Wishlist <span style="font-size:1.3rem">({{items_count}} items added)</span></h1>
    <div class="line"></div>
    <div class="wishlist-items">
        {% for item in wishlist %}
            <div class="item">
                <img src="{{item.product.image.url}}" alt="">
                <span>{{item.product.name}}</span>
                <div class="actions">
                    <img src="{% static 'images/cart.png' %}" id={{item.product.id}} onclick="handleAddToCart({{item.product.id}})" alt="" title="Add to cart">
                    <a href="{% url 'shop:product-detail' product_id=item.product.id %}">
                        <img src="{% static 'images/view.png' %}" alt="" title="View product">
                    </a>
                    <img id="deleteItemFromWishlist" onclick="deleteItemFromWishlist({{item.product.id}})" src="{% static 'images/trash.png' %}" alt="">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}