.footer {
    width: 100%;
    background-color: var(--theme-1);
}
.footer .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: var(--theme-2);
    color: var(--theme-3);
}
.footer .top:hover {
    background-color: #3a3e44;
    cursor: pointer;
}
.footer .details {
    background-color: #232b38;
    width: 100%;
    height: 10rem;
}
.footer .copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .copyright img {
    width: 40px;
}
.footer .copyright .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    color: var(--theme-3);
    font-family: 'Borel';
    font-size: 1.3rem;
    margin-top: 1rem;
    cursor: pointer;
}
.footer .copyright .credits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--theme-5);
    gap: 1rem;
}
.footer a {
    color: var(--theme-3);
    text-decoration: none;
    transition: transform .3s ease;
}
.footer a:hover {
    transform: scale(1.1);
}