
.navbar {
    background-color: var(--theme-1);
    color: var(--theme-4);
    /* border-bottom: .2rem solid var(--theme-3); */
    box-shadow: 0 0 1rem black;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}
.navbar img {
    height: 40px;
    width: 40px;
}
.navbar .item { 
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.navbar a {
    color: var(--theme-4);
    text-decoration: none;
}
.navbar .item:hover { 
    color: var(--theme-3);
    transform: scale(1.2);
}
.navbar .logo {
    font-family: 'Borel';
    line-height: .5;
    font-size: 1.4rem;
    color: #00ADB5;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    margin: 10px 30px 10px 20px;
}
.navbar .search-product {
    display: flex;
    flex-direction: row;
    gap: 0;
    position: relative;
}
.navbar .search-product select {
    width: auto;
    border: none;
    background-color: var(--theme-1);
    color: var(--theme-4);
    padding: .5rem;
    border: .2rem solid var(--theme-2);
    border-radius: .5rem 0 0 .5rem;
    font-weight: bold;
    font-family: inherit;
}
.navbar .search-product img {
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: var(--theme-2);
    padding: .4rem;
    border-radius: 0 .4rem .4rem 0;
    /* border: .1rem solid var(--theme-2); */
}
.navbar .search-product img:hover{
    background: var(--theme-1);
}
.navbar input{
    background-color: var(--theme-2);
    color: var(--theme-4);
    border: none;
    border-radius: 0 .5rem .5rem 0;
    padding: 10px;
    width: 400px;
    font-family: inherit;
    outline: none;
    padding-right: 50px;
}
.navbar .login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    font-size:1.3rem;
}
.navbar .login .signup {
    color:var(--theme-3);
    font-size:1.3rem;
    font-weight:bold;
}
.navbar .signup:hover {
    color:var(--theme-4);
}
.navbar .icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
}
.navbar .icons img{
    height: 40px;
    width: 40px;
}
.navbar .theme {
    position: relative;
}
.navbar .themes {
    display: none;
    flex-direction: column;
    width: auto;
    position: absolute;
    height: fit-content;
    top: 4rem;
    right: 3rem;
    z-index: 999;
    background-color: var(--theme-1);
    color: var(--theme-4);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0rem 1rem black;
    /* border: .2rem solid var(--theme-3); */
    border-top: none;
    animation: slideDown .3s ease forwards;
    /* padding-bottom: 1rem; */
}
.navbar .themes a {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    gap: .5rem;
    width: auto;
    cursor: pointer;
    font-size: 1rem;
    animation: scaleY 1s ease;
    border-radius: 1rem;
}
.navbar .themes a:hover {
    background-color: var(--theme-1);
    color: var(--theme-3);
}
.navbar .themes a b {
    width: .5rem;
    height: .5rem;
    border-radius: 0 1rem 1rem 1rem;
    border: .2rem solid var(--theme-3);
}
.navbar .theme .selected-theme {
    position: absolute;
    bottom: .25rem;
    right: .2rem;
    width: .5rem;
    height: .5rem;
    border-radius: 0 1rem 1rem 1rem;
    border: .2rem solid var(--theme-3);
    background-color: var(--theme-1);
}
.navbar .cart {
    position: relative;
}
.navbar .cart .count{
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(70%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--theme-4);
    color: var(--theme-1);
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.user-options {
    display: none;
    width: 12rem;
    position: absolute;
    height: fit-content;
    top: 3rem;
    right: 1/2;
    z-index: 999;
    background-color: var(--theme-1);
    color: var(--theme-4);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0rem 1rem black;
    /* border: .2rem solid var(--theme-3); */
    border-top: none;
    animation: slideDown .3s ease forwards;
}
/* .user-options */
@keyframes slideDown{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 
.user-options .user-option {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    gap: .5rem;
    width: auto;
    cursor: pointer;
    font-size: 1rem;
    animation: scaleY 1s ease;
    border-radius: 1rem;
}
@keyframes scaleY{
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}  
.user-options .user-option img {
    width: 1.5rem;
    height: auto;
}
.user-options .user-option:hover {
    background-color: var(--theme-1);
    color: var(--theme-3);
}
.cart-popup {
    min-width: 25rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4.15rem;
    right: .5rem;
    background-color: var(--theme-1);
    color: var(--theme-4);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    /* border: .2rem solid var(--theme-3); */
    box-shadow: 0 0rem 1rem black;
    border-top: none;
    animation: slideDown .3s ease forwards;
    z-index: 9999;
}
.cart-popup .cart_items {
    max-height: 25rem;
    overflow-y: auto;
    background-color: var(--theme-1);
    animation: scaleY .3s ease forwards;
}
.cart-popup .cart_items .price {
    font-size: 1rem;
}
.cart-popup .cart_items::-webkit-scrollbar-track {
    border-radius: 0 0 1rem 1rem;
}

.cart-popup .title {
    color: var(--theme-4);
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart-popup .title .view {
    font-size: 1rem;
    background-color: var(--theme-2);
    color: var(--theme-4);
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
}
.cart-popup .title .view:hover {
    background-color: var(--theme-3);
    color: var(--theme-1);
}
.cart-popup .cart_items tr {
    background-color: var(--theme-1);
    color: var(--theme-4);
    width: 100%;
}
.cart-popup .cart_items td {
    text-align: center;
}
.cart-popup .cart_items .product-name {
    width: 10rem;
}
.cart-popup .cart_items a:hover{
    color: var(--theme-3);
}
.cart-popup .cart-item td {
    padding: .5rem;
}
.cart-popup .cart-item .delete {
    height: 1.1rem;
    width: 1.1rem;
    cursor: pointer;
    transition: all .2s ease;
}
.cart-popup .cart-item .delete:hover {
    transform: scale(1.2);
}
.cart-popup .checkout-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}
.cart-popup .checkout-button span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.cart-popup .checkout-button .price {
    background-color: var(--theme-2);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.1rem;
}
.cart-popup .checkout-button a {
    background-color: var(--theme-5);
    color: var(--theme-1);
    font-weight: bold;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.cart-popup .checkout-button a:hover {
    background-color: var(--theme-3);
}
@media screen and (max-width: 1000px) {
    .navbar .search-product select,
    .navbar .search-product input {
        width: 100%;
    }

    .user-options,
    .cart-popup {
        right: 0;
    }
}

@media screen and (max-width: 800px) {
    .navbar a {
        display: none;
    }
    .navbar .search-product select {
        display: none;
    }
    .navbar .search-product input {
        width: 20rem;
        flex: 1;
        border-radius: .5rem;
    }
    .navbar .login {
        display: none;
    }
    .navbar .icons {
        margin-right: 10px;
    }
}
