body{
    margin-top: 5rem;
    overflow-x: hidden;
}
.shop {
    background-color: var(--theme-1);
    margin: 1rem;
    color: var(--theme-4);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
}
.filters {
    border-radius: 1rem;
    width: 15rem;
    height: auto;
    background-color: var(--theme-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.filters .close-filter-popup {
    display: none;
}
.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--theme-3);
}
.price {
    color: var(--theme-5);
}
.categories {
    background-color: var(--theme-2);
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.categories .title {
    font-size: 1rem;
    background-color: var(--theme-3);
    color: var(--theme-1);
    padding: .5rem;
    border-radius: .5rem;
    transition: all .3s ease;
    position: relative;
    cursor: pointer;
}
.categories .title img {
    width: 1.8rem;
    height: auto;
    position: absolute;
    top: .4rem;
    right: .4rem;
}
.categories .title .clear {
    display: block;
}
.category-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
    padding: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}
.categories:hover .title {
    border-radius: .5rem .5rem 0 0;
}
.categories:hover .title .clear {
    display: block;
}
.categories:hover .title .down {
    display: none;
}
@keyframes dropDown{
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}   
.category:hover {
    color: var(--theme-3);
}
.radio-button-label {
    display: block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    cursor: pointer;
    width: 100%;
    user-select: none;
}
input[type="checkbox"] {
    display: none;
}
.category .checkbox-unchecked {
    background-image: url('/static/images/unchecked.png');
    background-size: cover;
    padding: .6rem;
    /* width: 2rem;
    height: 1.5rem; */
}
.category .checkbox-checked {
    display: none;
    background-image: url('/static/images/checkbox.png');
    background-size: cover;
    padding: .6rem;
    /* width: 2rem;
    height: 1.5rem; */
}
.product-section {
    width: auto;
    flex: 1;
    height: fit-content;
    border-radius: 1rem;
    background-color: var(--theme-1);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}
.products {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 1rem;
}
.products .product {
    font-weight: bold;
    font-size: 1rem;
    width: 14rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background-color: var(--theme-2);
    color: var(--theme-4);
    border-radius: 1rem;
    transition: all .2s ease;
    position: relative;
    font-size: .8rem;
    flex: 1;
}
.products .product img {
    background-color: white;
    width: 100%;
    height: 12rem;
    object-fit: contain;
    border-radius: 1rem 1rem 0 0;
}
.products .product .review {
    display: flex;
    flex-direction: row;
}
.products .product .review img {
    background-color: transparent;
    height: .8rem;
    width: auto;
}
.products .product .offer {
    background-color: transparent;
    width: 3rem;
    height: auto;
    position: absolute;
    top: 0;
    left: -1rem;
}
.products .product .new {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 4rem;
    padding: 1rem;
    height: auto;
    background-color: transparent;
}
.products .product .actions {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    transition: display 0.3s ease;
    position: absolute;
    top: 6rem;
    right: -1rem;
    transform: translate(-50%, -50%);
}
.products .product .actions img {
    width: 2rem;
    height: auto;
    background-color: var(--theme-1);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease;
}
.products .product .actions img:hover{
    transform: scale(1.1);
}
.products .product:hover img {
    opacity: 20%;
}
.products .product:hover .actions {
    display: flex;
}
.products .product .product-details {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    text-align: center;
    word-wrap: break-word;
}
.products .product .product-details .product-name {
    font-size: 1rem;
}
.products .product .product-details .mrp {
    font-size: .8rem;
    text-decoration: line-through;
    color: var(--theme-4);
}
.products .product .product-details .price {
    font-size: .9rem;
}
.products .product .product-details .price .discount {
    color: var(--theme-6);
    font-size: .7rem;
}
.products .product:hover .actions img, .products .product:hover .review img {
    opacity: 100%;
}
.products .product .add-to-cart {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 0;
    transform: translate(-50%, -50%);
    width: auto;
    height: 3rem;
}
.shop-filter {
    position: absolute;
    top: 8.8%;
    right: 5%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    /* background-color: var(--theme-2); */
    color: var(--theme-3);
    border-radius: .5rem .5rem 0 0;
    padding: .5rem;
    z-index: 1;
    font-size: .8rem;
}
.shop-filter img {
    width: 1.2rem;
    height: auto;
}

@media screen and (max-width: 576px) {
    body{
        margin-top: 4rem;
    }
    .product-section h1{
        font-size: 1rem;
    }
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .filters {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        width: 90%;
        height: 60%;
        box-shadow: 0 0 1rem black;
        overflow-y: auto;
        display: none;
   }
   .filters h1 {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: var(--theme-1);
        padding: .5rem;
        border-radius: 1rem;
   }
   .filters .close-filter-popup{
        position: sticky;
        top: .5rem;
        left: 90%;
        background-color: var(--theme-6);
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 100%;
        padding: .2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999;
   }
   .filters .close-filter-popup img {
        width: 1rem;
        height: 1rem;
        z-index: 99;
   }
   .filters h1 {
    font-size: 1.2rem;
   }
   .products .product {
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        padding: 0;
        flex: none;
   }
   .products .product img {
        width: 40%;
        height: 100%;
        object-fit: contain;
        border-radius: 1rem;
        background-color: white;
   }
   .products .product .offer {
        top: .1rem;
        width: 2rem;
   }
   .products .product .actions {
        right: -4%;
        top: 53%;
        gap: .1rem;
   }
   .products .product .actions img {
        width: .8rem;
        border-radius: .8rem;
   }
   .products .product .product-details{
    align-items: start;
    text-align: start;
    font-size: .8rem;
   }
   .products .product .product-details .mrp{
        font-size: .7rem;
   }
   .products .product .product-details .price{
        font-size: .8rem;
   }
   .products .product .product-details .price .discount{
        font-size: .6rem;
   }
   .shop-filter {
        display: flex;
        position: fixed;
        top: 5rem;
        right: 1rem;
        background-color: var(--theme-1);
        box-shadow: 0 0 1rem black;
        width: fit-content;
        border-radius: .5rem;
   }
}