.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--theme-1);
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}
.signup-section .logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 1.5rem;
    color: var(--theme-3);
    margin: 2rem;
    font-family: 'Borel';
}
.signup-section p {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
.signup-section ul {
    width: 100%;
    color: rgba(255, 88, 88, 0.637);
}
.signup-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 1rem;
    background-color: var(--theme-2);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--theme-3);
}
.signup-section form label {
    display: none;
}
.signup-section form span {
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.signup-section form a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-1);
    width: 95%;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    transition: transform .2s ease;
}
.signup-section form a:hover {
    transform: scale(1.05);
}
.signup-section form input {
    width: 90%;
    background-color: var(--theme-4);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    color: var(--theme-1);
    font-family: inherit;
}
.signup-section form ul {
    font-size: .8rem;
}
.signup-section form button {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: var(--theme-3);
    border: none;
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform .2s ease;
}
.signup-section form button:hover {
    transform: scale(1.05);
}
.signup-section .login a {
    color: var(--theme-3);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
}
.signup-section .helptext {
    font-size: .8rem;
    padding: .2rem;
}