body {
    overflow: hidden;
    overflow-y: auto;
    margin-top: 5rem;
}
body::-webkit-scrollbar {
    display: none;
}
.checkout-section {
    margin: 0 1rem;
    background-color: var(--theme-1);
    border-radius: 1rem;
    padding: 1rem;
}
.checkout-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    padding-top: 1rem;
    gap: 1rem;
}
.checkout-form .billing {
    background-color: var(--theme-2);
    padding-top: 0%;
    border-radius: 1rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 1rem; */
}
.checkout-form .billing .details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.checkout-form .title {
    color: var(--theme-1);
    background-color: var(--theme-3);
    width: 100%;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: .5rem .5rem 0 0;
}
.checkout-form .title span {
    margin-left: 1rem;
}
.checkout-form label {
    color: var(--theme-3);
    font-size: 1rem;
}
.checkout-form input, .checkout-form textarea {
    max-width: 40rem;
    min-width: 40rem;
    min-height: 1rem;
    border: none;
    background-color: var(--theme-1);
    border-radius: 0 .5rem .5rem .5rem;
    border-bottom: .1rem solid var(--theme-4);
    font-family: inherit;
    color: var(--theme-5);
    outline: none;
    padding: .5rem;
}
.checkout-form input:-webkit-autofill, .checkout-form textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--theme-1) inset;
    -webkit-text-fill-color: var(--theme-5);
}
.checkout-form .order-section {
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    width: 100%;
}
.checkout-form .order-section b {
    color: var(--theme-3);
}
.checkout-form .order-section .payment-methods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.checkout-form .order-section .payment-methods .payment-provider input {
    display: none;
}
.checkout-form .order-section .payment-methods .payment-provider label {
    background-color: whitesmoke;
    color: rgb(30, 36, 43);
    font-weight: bold;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    transition: background-color .2s ease;
}
.checkout-form .order-section .payment-methods .payment-provider label:hover {
    background-color: var(--theme-4);
}
.checkout-form .order-section .payment-methods .payment-provider img {
    width: 1.5rem;
    height: auto;
}
.checkout-form .order-section .payment-methods .payment-provider input[name="payment_method"]:checked + label {
    background-color: var(--theme-6);
}
.checkout-form .orders {
    background-color: var(--theme-2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
}
.checkout-form .orders .checkout-order-section {
    /* padding: 1rem; */
    background-color: var(--theme-2);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}
.checkout-form .orders .cart_items {
    max-height: 15rem;
    overflow-y: auto;
    background-color: var(--theme-1);
    padding: .5rem;
    border-radius: .5rem;
    width: auto;
    margin: 1rem;
}
.checkout-form .orders .cart_items table {
    width: 100%;
}
.checkout-form .orders .cart_items tr {
    text-align: center;
}
.checkout-form .orders .cart_items table td {
    text-align: center;
    color: var(--theme-1);
    background-color: var(--theme-4);
}
.checkout-form .payment-details {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
}
.checkout-form .card-details input {
    max-width: 100%;
}
.checkout-form .place-order {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
    gap: .5rem ;
}
.charges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-1);
    border-radius: .5rem;
    padding: .5rem;
    gap: 1rem;
    width: 97%;
}
.checkout-form .charges #total_price {
    background-color: var(--theme-2);
    padding: .5rem;
    border-radius: .5rem;
    color: var(--theme-6);
    font-weight: bold;
    font-size: 1.3rem;
}
.checkout-form .no-items {
    text-align: center;
}
.checkout-form .submit-button {
    background-color: var(--theme-3);
    color: var(--theme-1);
    border: none;
    border-radius: .5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
    padding: .5rem;
    cursor: pointer;
    width: 100%;
    transition: all .2s ease;
}
.checkout-form .submit-button:hover {
    background-color: var(--theme-6);
}