.product-detail {
    margin: 5rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.product-detail .product {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
}
.product-detail .product .image {
    width: 50%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail .product .image img {
    border-radius: 1rem;
    width: 15rem;
}
.product-detail .product .details {
    flex: 1;
    display: flex;
    height: 20rem;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
}
.product-detail .product .details .mrp {
    text-decoration: line-through;
    font-size: 1.5rem;
}
.product-detail .product .details .offer-price {
    font-size: 2.5rem;
}
.product-detail .product .details .discount {
    color: var(--theme-7);
}
.product-detail .product .details .review {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    cursor: pointer;
}
#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
#reviews .review {
    /* background-color: var(--theme-2); */
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 8rem;
}
#reviews .review .user-section {
    width: auto;
    /* background-color: var(--theme-2); */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    padding-left: 2rem;
}
#reviews .review .user-section .user-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--theme-3);
}
#reviews .review .user-section img {
    width: 3rem;
    height: auto;
}
#reviews .review .user-section .user-details {
    display: flex;
    flex-direction: column;
}
#reviews .review .review-section {
    max-width: 60%;
    text-align: justify;
    word-wrap: break-word;
    background-color: var(--theme-1);
    padding: 2rem;
    border-radius: 0 2rem 2rem 2rem;
    position: relative;
}
#reviews .review .review-section img {
    width: 1rem;
    height: auto;
}
#reviews .review .review-section .comment {
    font-size: 1.2rem;
    color: var(--theme-5);
}
#reviews .write-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 5rem;
}
#reviews .write-comment .comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
#reviews .write-comment .comment .rating input {
    display: none;
}
#reviews .write-comment .comment .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}
#reviews .write-comment .comment .rating img {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

#reviews .write-comment .comment input {
    background-color: var(--theme-1);
    color: var(--theme-5);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-family: inherit;
    width: auto;
}
#reviews .write-comment #submit-review {
    width: 2rem;
    height: auto;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 1rem;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 6rem solid transparent;
    border-right: 2rem transparent;
    border-top: 2rem solid var(--theme-1);
    position: absolute;
    top: 0;
    left: -6rem;
}
.product-detail .product .details .review img{
    width: 1.5rem;
    height: 1.5rem;
}
.action-buttons{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap:1rem;
}
.action-buttons .add-to-cart{
    width: 40%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-1);
    padding: .5rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--theme-3);
    cursor: pointer;
    transition: transform .2s ease;
}
.action-buttons .add-to-cart:hover {
    transform: scale(1.08);
}
.action-buttons .add-to-cart img {
    width: 2.5rem;
}
.action-buttons .like{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: var(--theme-1);
    padding: .5rem;
    border-radius: 1rem;
    color: var(--theme-5);
    cursor: pointer;
    transition: transform .2s ease;
}
.action-buttons .like:hover {
    transform: scale(1.08);
}
.action-buttons .like img {
    width: 2.5rem;
}
.description {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-2);
}
.description .title {
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.description .title input{
    display: none;
}
.description .title label {
    background-color: var(--theme-2);
    padding: .5rem;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
}
.description .title label:hover {
    background-color: var(--theme-3);
    color: var(--theme-1);
}