body{
    margin-top: 6.5rem;
    overflow-x: hidden;
}
.shop {
    background-color: var(--theme-1);
    color: var(--theme-5);
    display: flex;
    flex-direction: row;
}
.filters {
    border-radius: 1rem;
    width: auto;
    height: auto;
    background-color: var(--theme-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--theme-3);
}
.price {
    color: var(--theme-6);
}
.categories {
    background-color: var(--theme-2);
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.categories .title {
    font-size: 1rem;
    background-color: var(--theme-3);
    color: var(--theme-1);
    padding: .5rem;
    border-radius: .5rem .5rem 0 0;
}
.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: .5rem;
    cursor: pointer;
}
.category:hover {
    color: var(--theme-3);
}
.radio-button-label {
    display: block;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    background-image: url('/static/images/unchecked.png');
    background-size: cover;
    cursor: pointer;
}
input[type="checkbox"] {
    display: none; /* Hide the default radio buttons */
}
.product-section {
    width: auto;
    flex: 1;
    height: fit-content;
    border-radius: 1rem;
    background-color: var(--theme-1);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.products {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: 1rem;
}
.products .product {
    font-weight: bold;
    font-size: 1rem;
    width: 13rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--theme-2);
    color: var(--theme-5);
    border-radius: 1rem;
    transition: all .2s ease;
    position: relative;
}
.products .product .actions {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    transition: display 0.3s ease;
    position: absolute;
    top: 6rem;
    right: -1rem;
    transform: translate(-50%, -50%);
}
.products .product .actions img {
    width: 2rem;
    height: auto;
    background-color: var(--theme-1);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.products .product:hover img {
    opacity: 20%;
}
.products .product:hover .actions {
    display: flex;
}
.products .product .product-details {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.products .product .product-details .mrp {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--theme-5);
}
.products .product .product-details .price {
    font-size: 1.2rem;
}
.products .product .product-details .price .discount {
    color: var(--theme-7);
    font-size: .8rem;
}
.products .product:hover .actions img, .products .product:hover .review img {
    opacity: 100%;
}
.products .product .add-to-cart {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 0;
    transform: translate(-50%, -50%);
    width: auto;
    height: 3rem;
}

.products .product img {
    background-color: var(--theme-5);
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem 1rem 0 0;
}
.products .product .review {
    display: flex;
    flex-direction: row;
}
.products .product .review img {
    background-color: transparent;
    height: .8rem;
    width: auto;
}