.wishlist-section {
    margin: 1rem;
}
.wishlist-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap: 2rem;
    padding: 2rem;
}
.wishlist-items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    min-width: 12rem;
    min-height: 15rem;
    font-weight: bold;
    gap: 1rem;
    cursor: pointer;
    transition: transform .2s ease;
    background-color: var(--theme-2);
}
.wishlist-items .item:hover {
    transform: scale(1.1);
}
.wishlist-items .item img{
    height: 10rem;
    width: auto;
}