{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kwikmart{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <meta name="description" content="Kwikmart : Awesome shopping application for India. Shop online for mobiles, laptops, cameras, books, watches, apparel, shoes, and e-Gift Cards at Amazon.in. Enjoy Free Shipping & Cash on Delivery.">
    <link rel="canonical" href="https://kwikmart.one/">
    <meta name="keywords" content="kwikmart, kwikmart.com, shopping, mobiles, laptops, cameras, books, watches, apparel, shoes, e-Gift Cards, online shopping, India, Amazon">

    
    {% if selected_theme %}
        <link rel="stylesheet" href="{% static 'css/themes/' %}{{ selected_theme.slug }}-theme.css">
    {% endif %}
        
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    {% comment %} {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %} {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
</head>
<body>
    {% include 'components/loading.html' %}
    {% include 'components/login-popup.html' %}
    {% include 'components/notifications.html' %}

    {% if request.path != '/login/' and request.path != '/signup/' %}
        {% include 'components/navbar.html' %}
    {% endif %}
    
    {% block main %}{% endblock main %}
    
    {% if request.path != '/login/' and request.path != '/signup/' %}
        {% include 'components/footer.html' %}
    {% endif %}

    {% block script %}{% endblock script %}
    {% include 'scripts/scripts.html' %}
    {% include 'components/action-bar.html' %}
</body>
</html>