{% extends 'base.html' %}
{% load static humanize custom_filters  %}
{% block title %}Cart{% endblock title %}
{% block main %}
{% include 'navbar.html' %}
{% include 'breadcrumbs.html' %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart-main">
    <div class="cart-section">
        <div class="cart-head">
            <h1 style="font-size:1.9rem;font-weight:bold;">Cart</h1>
            <a href="{% url 'shop:shop' %}">
                <span>Continue to shopping</span>
            </a>
        </div>
        <div class="line"></div>
        <table class="cart-items">
            <tbody>
                {% for product in cart_items %}
                <tr class="product">
                    <td>
                        <a href="{% url 'shop:product-detail' product_id=product.product_id %}">
                            <img src="{{product.image}}" alt="">
                        </a>
                    </td>
                    <td>
                    <div class="details">
                            <a href="{% url 'shop:product-detail' product_id=product.product_id %}" style="font-size:1.2rem;font-weight:bold;">{{product.product_name}}</a>
                            <a href="">{{product.category}}</a>
                        </div>
                    </td>
                    <td>
                        <div class="quantity">
                            <a href="{% url 'shop:add-to-cart' product_id=product.product_id %}">-</a>
                            <span>{{product.quantity}}</span>
                            <a href="{% url 'shop:add-to-cart' product_id=product.product_id %}">+</a>
                        </div>
                    </td>
                    <td>
                        <div class="product-price">
                            <span class="price-text">₹{{product.price|multiply:product.quantity|intcomma}}</span>
                        </div>
                    </td>
                    <td class="delete">
                        <a href="{% url 'shop:delete-item-from-cart' product_id=product.product_id %}">
                            <img src="{% static 'images/trash.png' %}" alt="">
                        </a>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
    <div class="checkout">
        <h1 style="font-size:1.5rem;font-weight:bold;">Checkout</h1>
        <span style="font-size:1.8rem;font-weight:bold;color:var(--theme-6)">₹{{total_price|intcomma}}</span>
    </div>
</div>
{% endblock main %}