{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Kwikmart | Home{% endblock title %}
{% block main %}
    {% include 'navbar.html' %}
    <div class="main">
        <div class="carousel">
            <div class="carousel-inner">
                {% for item in carousel %}
                    <div class="carousel-item">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    </div>
                {% endfor %}
            </div>
            <div class="prev">
                <img src="{% static 'images/before.png' %}" alt="">
            </div>
            <div class="next">
                <img src="{% static 'images/next.png' %}" alt="">
            </div>
            <div class="offers">
                <div class="offer" style="margin-left:2rem;">
                    <h3>Appliances for your home | Up to 55% off</h3>
                    <div class="offer-items">
                        <div class="offer-item">
                            <img src="{% static 'images/offers/ac.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Air conditioners</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/fridge.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Refrigerators</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/oven.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Microwaves</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/wm.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Washing machines</span>
                        </div>
                    </div>
                    <h4>See all offers</h4>
                </div>
                <div class="offer">
                    <h3>Up to 60% off | Styles for men</h3>
                    <div class="offer-items">
                        <div class="offer-item">
                            <img src="{% static 'images/offers/cloth.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Clothing</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/shoe.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Footwears</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/watch.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Watches</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/bag.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Bags & Wallets</span>
                        </div>
                    </div>
                    <h4>See all offers</h4>
                </div>
                <div class="offer">
                    <h3>Revamp your home in style</h3>
                    <div class="offer-items">
                        <div class="offer-item">
                            <img src="{% static 'images/offers/mat.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Mat, bedsheets & more</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/figure.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Figurines, vases & more</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/storage.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Home storage</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/light.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Lighting solutions</span>
                        </div>
                    </div>
                    <h4>Explore all</h4>
                </div>
                <div class="offer" style="margin-right:2rem;">
                    <h3>Up to 75% off | Headphones</h3>
                    <div class="offer-items">
                        <div class="offer-item">
                            <img src="{% static 'images/offers/boat.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Up to 75% off | boAt</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/boult.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Up to 75% off | Boult</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/noise.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Up to 75% off | Noise</span>
                        </div>
                        <div class="offer-item">
                            <img src="{% static 'images/offers/zebro.jpg' %}" alt="">
                            <span style="font-size:.8rem;">Up to 75% off | Zebronics</span>
                        </div>
                    </div>
                    <h4>See all offers</h4>
                </div>
            </div>
        </div>
        <div class="deals">
            <div class="title">
                <h1>Today's deals</h1>
                <a href="{% url 'shop:shop' %}">See all deals</a>
            </div>
            <div class="products">
                {% for product in products %}
                    <a href="{% url 'shop:product-detail' product_id=product.id %}" class="product">
                        <img id="productImage" src="{{ product.image.url }}" alt="">
                        <span>{{ product.name|truncatechars:20}}</span>
                        <div class="review">
                            {% if product.stars == 5 %}
                                {% for star in "12345"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 4 %}
                                {% for star in "1234"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "1"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 3 %}
                                {% for star in "123"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "12"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 2 %}
                                {% for star in "12"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "123"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% elif product.stars == 1 %}
                                {% for star in "1"  %}
                                    <img src="{% static 'images/star.png' %}" alt="">
                                {% endfor %}
                                {% for star in "1234"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% else %}
                                {% for star in "12345"  %}
                                    <img src="{% static 'images/starline.png' %}" alt="">
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span class="price">₹{{ product.price|intcomma  }}</span>
                    </a>
                {% endfor %}
                <div class="prev-prod">
                    <img src="{% static 'images/before.png' %}" alt="">
                </div>
                <div class="next-prod">
                    <img src="{% static 'images/next.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="signin">
            <span class="title">See personalized recommendations</span>
            <a class="login" href="{% url 'login' %}">Sign In</a>
            <span>New customer?<a href="">Register account</a></span>
        </div>
        <div class="line"></div>    
    </div>
    {% include 'footer.html' %}
{% endblock main %}
{% block script %}
<script>
    const carousel = document.querySelector('.carousel-inner');
    const prevBtn = document.querySelector('.prev');
    const nextBtn = document.querySelector('.next');
    const products = document.querySelector('.products');
    const prevProdBtn = document.querySelector('.prev-prod');
    const nextProdBtn = document.querySelector('.next-prod');
    const scrollToTop = document.querySelector('.top');

    scrollToTop.addEventListener('click', ()=>{
        document.documentElement.scrollTop = 0;
    });

    // Scroll to previous image
    prevBtn.addEventListener('click', function() {
        carousel.scrollBy({
            left: -100 * window.innerWidth / 100,
            behavior: 'smooth'
        });
    });

    // Scroll to next image
    nextBtn.addEventListener('click', function() {
        carousel.scrollBy({
            left: 100 * window.innerWidth / 100,
            behavior: 'smooth'
        });
    });
    prevProdBtn.addEventListener('click', function() {
        products.scrollBy({
            left: -100 * window.innerWidth / 100,
            behavior: 'smooth'
        });
    });
    nextProdBtn.addEventListener('click', function() {
        products.scrollBy({
            left: 100 * window.innerWidth / 100,
            behavior: 'smooth'
        });
    });

</script>
{% endblock script %}