{% extends 'base.html' %}
{% load static %}

{% block title %}Kwikmart • Login{% endblock title %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login-section">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        <span>wikmart</span>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <span>Login</span>
        <div class="line"></div>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
        <a href="/" class="explore">Explore</a>
    </form>
    <div class="signup">
        <span>Don't have an account? <a href="{% url 'signup' %}">Register account</a></span>
    </div>
</div>
{% endblock main %}