{% load static %}
{% if not request.user.is_authenticated %}
    <div class="signin">
        <span class="title">See personalized recommendations</span>
        <a class="login" href="{% url 'login' %}">Sign In</a>
        <span class="register">New customer?<a href="{% url 'signup' %}">Register account</a></span>
    </div>
{% endif %}
<br><br>
<div class="footer">
    <div class="top">
        <h4>Back to top</h4>
    </div>
    <div class="details">
        <div class="item">
            <span class="title">Get to know us</span>
            <a href="">About us</a>
            <a href="">Careers</a>
            <a href="">Blogs</a>
        </div>
        <div class="item">
            <span class="title">Connect with us</span>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
        </div>
        <div class="item">
            <span class="title">Make money with us</span>
            <a href="">Sell on Kwikmart</a>
            <a href="">Become an affiliate</a>
            <a href="">Advertise your products</a>
            <a href="">Protect and build your brand</a>
        </div>
        <div class="item">
            <span class="title">Let us help you</span>
            <a href="">Your account</a>
            <a href="">Returns centre</a>
            <a href="">Purchase protection</a>
            <a href="">Kwikmart app download</a>
            <a href="">Help</a>
        </div>
    </div>
    <div class="copyright">
        <div class="title">
            <img src="{% static 'images/logo.png' %}" alt="">
            <span>wikmart</span>
        </div>
        <div class="credits">
            <span>&copy; 2024. All rights reserved</span>
            <span>&nbsp;|&nbsp;</span>
            <a href="">Terms of use </a>
            <span>&nbsp;|&nbsp;</span>
            <a href="">Privacy Policy </a>
        </div>
    </div>
    <br>
</div>