{% load static %}
<div class="navbar">
    <a href="/" class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo">
        <span>wikmart</span>
    </a>
    <a href="/" class="item">Home</a>
    <a href="/shop" class="item">Go to shop</a>
    <div class="search-product">
        <select name="categories" id="category-select">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search" id="search-product" placeholder="Search Products...">
        <img onclick="searchProducts()" src="{% static 'images/search.png' %}" alt="">
        {% include 'components/search-products.html' %}
    </div>
    <div class="login">
        {% if request.user.is_authenticated %}
            <b id="loggined-user">Hi, {{user.username}}</b>
            {% include 'components/user-options.html' %}
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="item">Login</a>|<br>
            <a href="{% url 'signup' %}" class="item signup">Signup</a>
        {% endif %}
    </div>
    <div class="icons">
        <div class="theme item">
            <img src="{% static 'images/theme.png' %}" alt="">
            {% if selected_theme %}
                <span class="selected-theme"></span>
            {% endif %}
        </div>
        {% include 'components/themes.html' %}
        <div class="cart item">
            <img id="cartImage" src="{% static 'images/cart.png' %}" alt="">
            <span class="count">{{cart_item_count}}</span>
        </div>
    </div>
    {% include 'components/cart-popup.html' %}
    {% if request.path != '/' %}
        {% include 'components/breadcrumbs.html' %}
    {% endif %}
</div>