<p>
    <span id="productSpecs">
        <span><b>Brand : </b>&nbsp;&nbsp;Haier<br></span>
        <span><b>Color : </b>&nbsp;&nbsp;Black <br></span>
        <span><b>Capacity : </b>&nbsp;&nbsp;30 litres <br></span>
        <span><b>Special Features : </b>&nbsp;&nbsp;Auto Cook, Defrost <br></span>
        <span><b>Installation Type : </b>&nbsp;&nbsp;Countertop<br></span>
    </span>
    <h2>About this item</h2>
    <ul>
        <li>
            Capacity: 30 litres Suitable for a small family, Convection: Can be used for baking along with grilling, reheating, defrosting and cooking
        </li>
        <li>
            Warranty: 1 year on product, 3 years on magnetron
        </li>
        <li>
            Brand does NOT provide a starter kit with this product
        </li>
        <li>
            Control: Jog wheel plus button that are easy to use with a long life
        </li>
        <li>
            Child Lock: Ensures complete safety especially for homes with small children
        </li>
        <li>
            Also included in the box: 1 Set (Include Glass Turntable, roller ring and coupler), 1 user manual & Warranty card
        </li>
    </ul>
</p>