<p>
    <span id="productSpecs">
        <span><b>Brand : </b>&nbsp;&nbsp;LG <br></span>
        <span><b>Capacity : </b>&nbsp;&nbsp;1 Tons <br></span>
        <span><b>Cooling Power : </b>&nbsp;&nbsp;3.47 Kilowatts <br></span>
        <span><b>Special Feature : </b>&nbsp;&nbsp;Inverter Compressor, Remote Controlled, Anti Bacterial Filter, Auto Clean, Fast Cooling<br></span>
        <span><b>Product Dimensions : </b>&nbsp;&nbsp;18.9D x 83.7W x 30.8H Centimeters<br></span>
    </span>
    <h2>About this item</h2>
    <ul>
        <li>Split Ac with Inverter Compressor: Variable speed compressor which adjusts power depending on heat load | With AI Convertible 6-in-1 user gets a flexibility to increase or decrease cooling capacity as per requirements</li>
        <li>Capacity: 1 Ton. Suitable for Small Sized Rooms (110 to 120 sq. ft.) | 425/989 (In/Out) CFM Air Circulation & Ambient Temperature: 52 degree Celsius with 4 way air swing</li>
        <li>Energy Rating: 4 Star - High energy efficiency | Annual Energy Consumption: 571.99 Units | ISEER Value: 4.7 (Please Refer Energy Label on Product Page or Contact Brand for More Details)</li>
        <li>Manufacturer Warranty: 1 Year on product, 5 Years on PCB and 10 Years on Compressor with Gas Charging (T&C Apply)</li>
        <li>Condenser Coil: Copper With Ocean Black Protection prevents From Rust & Corrosion; Increase Durability ; Uninterrupted Cooling</li>
        <li>Key Features: Dual Inverter Compressor, AI Convertible 6-in-1 Cooling, VIRAAT Mode, HD Filter with Anti-Virus Protection, ADC Sensor, Cools at 52⁰ C, Stabilizer free operation within 120V-290V voltage range , Magic Display for temperature, Noise Level (21 dB (A) Indoor)</li>
        <li>Special Features: Gold Fin+ - Increase durability, Ocean black protection, Ez Clean Filter, Low gas detection, 100% Copper Condensor, 6 Fan Speed steps; Hi grooved Copper; Smart Diagnosis System, Comfort Air, Monsoon Comfort/Fresh Dry, Auto Clean, Mute, On/ Off Timer, Sleep Mode, Auto Restart (Memory), On/Off Indicator</li>
        <li>Refrigerant gas: R32 - Environmental friendly - no ozone depletion potential</li>
        <li>Item Dimensions & Weight: Indoor Unit dimension IDU (W x H x D cms) (83.7 x 30.8 x 18.9); Outdoor Unit dimension ODU (W x H x D cms) (71.7 x 49.5 x 23) & IDU Weight- 8.1 Kg and ODU Weight - 24.5 Kg</li>
        <li>1 Indoor Unit, 1 Outdoor Unit, 3 m Length Inter Connecting Copper Pipe, 1 Remote, 1 Manual, 1 Warranty Card</li>
    </ul>
</p>
<style>
    #productSpecs{
        display:flex;
        flex-direction:column;
        align-items:start;
        justify-content:center;
        gap:1rem;
        width:100%;
    }
    #productSpecs span{
        width:100%;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:start;
        word-wrap:break-word;
    }
</style>