<p>
    <span id="productSpecs">
        <span><b>Brand : </b>&nbsp;&nbsp;Haier<br></span>
        <span><b>Capacity : </b>&nbsp;&nbsp;165 litres <br></span>
        <span><b>Configuration : </b>&nbsp;&nbsp;Freezer On Top <br></span>
        <span><b>Product Dimensions : </b>&nbsp;&nbsp;62D x 53.1W x 103.5H Centimeters<br></span>
        <span><b>Energy Star : </b>&nbsp;&nbsp;1 Star<br></span>
    </span>
    <h2>About this item</h2>
    <ul>
        <li>
            Direct-cool Refrigerator: Economical and Stylish with External Bar Handle.
        </li>
        <li>
            Capacity 165 Litres: Suitable for bachlors | Freezer Capacity: 15 Ltr , Fresh Food Capacity: 150 Ltr
        </li>
        <li>
            Energy Rating: 1 Star - Low Energy Efficiency
        </li>
        <li>
            Manufacturer Warranty : 1 year on product, 10 years on compressor.
        </li>
        <li>
            Non Inverter Technology
        </li>
        <li>
            Storage or Interior description : Fresh food capacity : 150 Ltr | Freezer capacity : 15 Ltr | Drawers : 1, Shelves : 2 | Shelf Type : Wired shelves | Large vegitable box | Anti-bacterial gasket
        </li>
        <li>
            Special Features : Stabilizer Free Operation, Vegetable box, Connect home inverter, Anti-bacterial Gasket
        </li>
        <li>
            Diamond Edge Freezing Technology: Firm ice formation and better cooling retention in this Haier direct cool refrigerator.
        </li>
        <li>
            Item Dimensions : 62x53.10x103.50(LxWxH) | Weight : 29 Kg
        </li>
        <li>
            Included in the box : 1 Refrigerator unit, User Manual, Warranty Card, Keys
        </li>
    </ul>
</p>